@mixin transition-background{
	transition: background 0.4s;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
}
@mixin transition-element{
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;	
}
@mixin scale-animation-hover{
	transform: scale(1.1);
}
@mixin scale-animation-hover-out{
	transform: scale(1.0);
}