//Variables

// Colors
$gray: #303c42;
$orange: #f8951d;
$cornflower-blue: #54585a;
$orange-bright: #f7941d;
$hover-orange: #f2ab54;
$light-orange: #feead2;
$orange-bg: #fcd4a5;
$light-gray: #454947;
$white: #ffffff;
$outer-space: #303c42;
$hover-outer-space: #607782;
$shark: #1F2426;
$loblolly: #BDCBD2;
$Porcelain: #EBEFF1;
$black-haze: #F4F4F4;
$cherokee: #fac58b;
$marshlandapprox: #040503;
//FORMS
$input-bg: #f3f3f4;


