@font-face{
    font-family: 'DIN2014-Regular';
    src: url('fonts/DIN2014-Regular.eot');
    src: local('DIN 2014 Regular'), local('DIN2014-Regular'),
        url('fonts/DIN2014-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/DIN2014-Regular.woff') format('woff'),
        url('fonts/DIN2014-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DIN2014-Bold';
    src: url('fonts/DIN2014-Bold.eot');
    src: local('DIN 2014 Bold'), local('DIN2014-Bold'),
        url('fonts/DIN2014-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DIN2014-Bold.woff') format('woff'),
        url('fonts/DIN2014-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DIN2014-ExtraBold';
    src: url('fonts/DIN2014-ExtraBold.eot');
    src: local('DIN 2014 Bold'), local('DIN2014-ExtraBold'),
        url('fonts/DIN2014-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DIN2014-ExtraBold.woff') format('woff'),
        url('fonts/DIN2014-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DIN2014-italic';
    src: url('fonts/DIN2014-Italic.eot');
    src: local('DIN 2014 Italic'), local('DIN2014-Italic'),
        url('fonts/DIN2014-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/DIN2014-Italic.woff') format('woff'),
        url('fonts/DIN2014-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'DIN2014-Light';
    src: url('fonts/DIN2014-Light.eot');
    src: local('DIN 2014 Light'), local('DIN2014-Light'),
        url('fonts/DIN2014-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/DIN2014-Light.woff') format('woff'),
        url('fonts/DIN2014-Light.ttf') format('truetype');
    font-weight: normal;
}
#beepo-career-page-main-container{
	h1{
		font-family: 'DIN2014-Light';
	}
	h2{
		color: $orange;
		font-family: 'DIN2014-Bold';
		margin-top: 0px;
		margin-bottom: 30px;
	}
	h3{
		font-family: 'DIN2014-Light';
		color: $orange;
		text-transform: uppercase;
	}

}
body {
    font-family: 'DIN2014-Regular';
}
h5{
    color: $orange;
    font-family: 'DIN2014-Bold';
    margin-bottom: 15px;
}
ul{
    li{
        font-family: 'DIN2014-Regular';
        color: $outer-space;
    }
}
    p{
        font-family: 'DIN2014-Regular';
        color: $outer-space;
    }


